@switch(Level)
{
    case 1:
    <h1 id=@ElementId>@Text</h1>
        break;
    case 2:
    <h2 id=@ElementId>@Text</h2>
        break;
    case 3:
    <h3 id=@ElementId>@Text</h3>
        break;
    case 4:
    <h4 id=@ElementId>@Text</h4>
        break;
    case 5:
    <h5 id=@ElementId>@Text</h5>
        break;
    case 6:
    <h6 id=@ElementId>@Text</h6>
        break;
}

@code {

}
